<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring ingresar registro</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
</head>

<body>
    <div class="container">
        <h1>Formulario de usuarios</h1>
        <div class="card">
            <div class="card-header">
                Agregar
            </div>
            <div class="card-body">
                <form method="post" th:action="@{/nuevo}" th:object="${usuario}">
                    <input type="hidden" th:field="*{id}">
                    <div class="mb-3">
                        <label class="form-label" for="nombre">Nombre: </label>
                        <input class="form-control" type="text" id="name" th:field="*{name}" />
                    </div>
                    <hr>
                    <button class="btn btn-dark" type="submit">Guardar </button>
                    <a class="btn btn-light" href="/usuarios">Volver a la lista</a>
                </form>
            </div>
        </div>
    </div>
</body>

</html>